:link {
    color: rgb(0, 174, 255);
    text-decoration: none;
}

:visited {
    color: crimson;
}

:link:hover, :visited:hover {
    color: rgb(234, 238, 10);
}

body {
    background-color: black;
    margin: 0%;
}


h1 {
    padding: 0% 10%;
    color: rgb(255, 170, 0);
    font-family: 'Advent Pro', sans-serif;
    font-size: 350%;
}

h2 {
    color: whitesmoke;
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 300%;
}

h3 {
    color: whitesmoke;
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 200%;
}

.logo {
    padding-top: 2em;
    padding-left: 2em;
}

p, dl, ul, a {
    color: whitesmoke;
    font-family: 'Open Sans', arial, sans-serif;
}

nav {
    padding: 30px;
    padding-top: 1em;
}

.navigate {
    font-size: 120%;
    list-style: none;
    padding-left: 0;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}

.navigate > li {
    flex: 30%;
    margin: auto;
    flex-basis: 10em;
    
    /* background-color: rgba(128, 128, 128, 0.214); */
    
    flex-grow: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border: 0px solid whitesmoke;
    border-radius: 10px;
    
}

.navigate > li:hover {
    background: linear-gradient(to right, rgba(0, 0, 0, 0) -30%, rgba(128, 128, 128, 0.563), rgba(0, 0, 0, 0) 130%);
    /* background-color: rgba(128, 128, 128, 0.449); */
}

.navigate :link, .navigate :visited {
    color: #ffffff;
}

.navigate a {
    display: block;
}

.submenu {
    list-style: none;
    padding-left: 0;
    padding-top: 1em;
    display: none;
}

.navigate li:hover .submenu{
    display: block;
}





.WhatIsCPU {
    padding: 10% 5%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0)), 
    url(Images/Start_processor.jpg);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h2 + p {
    font-size: 150%;
    width: 50%;
}

.WhatIsCPU p b {
    font-weight: 1000;
}

.Developers {
    padding: 10% 5%;
}

.Developers p {
    font-size: 150%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 50%;
}


.term {
    padding: 10%;
}

.term dt {
    font-size: 125%;
    padding: 40px 0px;
}

.term dd {
    font-size: 110%;
    padding: 10px 0px;
}

aside {
    position: fixed;
    right: 20px;
    bottom: 20px;

}